<tcc-master-slide-title>
  <ng-container top>
    <div class="logo">
      <img src="assets/images/tcc-logo-white.svg" alt="theCodeCampus Logo" class="img-responsive" style="max-height: 2.5em;">
    </div>
    <div class="logo">
      <img src="assets/images/w11k-logo.svg" alt="w11k Logo" class="img-responsive" style="max-height: 2em;">
    </div>
  </ng-container>

  <ng-container title>
    @w11k/ngx-present<br>
    <small>The Angular Presentation Tool</small>
  </ng-container>

  <ng-container bottom>
    <img src="assets/images/typescript-logo.svg" alt="TypeScript Logo" class="img-responsive" style="max-height: 2em;">
    <img src="assets/images/angular2-shield.svg" alt="Angular Logo" class="img-responsive" style="max-height: 5.5em;">
  </ng-container>

</tcc-master-slide-title>
